---

---

<footer
    class="w-full py-6 border-t border-[#2C2C2E] bg-black bg-opacity-70 backdrop-blur-sm"
    aria-labelledby="footer-heading"
>
    <div class="container mx-auto px-6 md:px-8">
        <h2 id="footer-heading" class="sr-only">Footer</h2>
        <div
            class="flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0"
        >
            <nav aria-label="Footer Navigation">
                <ul class="flex items-center space-x-6">
                    <li>
                        <a
                            class="text-xs text-gray-400 hover:text-white transition-colors"
                            href="/privacy-policy">Privacy Policy</a
                        >
                    </li>
                    <li class="text-gray-700">|</li>
                    <li>
                        <a
                            class="text-xs text-gray-400 hover:text-white transition-colors"
                            href="/terms-conditions">Terms & Conditions</a
                        >
                    </li>
                    <li class="text-gray-700">|</li>
                    <li>
                        <a
                            class="text-xs text-gray-400 hover:text-white transition-colors"
                            href="/support">Support</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text-center mt-4">
            <p class="text-xs text-gray-600">
                © 2025 Folo. All rights reserved.
            </p>
        </div>
    </div>
</footer>
