---
import { FAQSection } from "../components/FAQSection";
import FeaturesSection from "../components/FeaturesSection.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
import WidgetBackground from "../components/WidgetBackground.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <body
        class="min-h-screen w-full flex flex-col bg-gradient-to-br from-black via-purple-900 to-black overflow-hidden"
    >
        <WidgetBackground />
        <HeroSection />
        <FeaturesSection />
        <FAQSection client:load />
        <Footer />
    </body>
</MainLayout>
